<p>Because the routes our lives takes don't afford us enough rest?</p>
<table>
<tbody>
<tr>
	<th><div ><p>cool.com</p></div></th>
	<% 8.times do |x| %>
	<td id="s1p<%= x %>", class="land", tracker="#">Drop</td>
	<% end %>
</tr>
</tbody>
</table>
<div id="done1", class="push" ><p>Click To Check</p></div>
<div id="endDisplay"><%= render "step1s/new"%></div>
<div id="float">
	<p>Drag Me</p>
	<table>
	<tbody>
	<tr>
		<th>Objects</th>
		<th>Action/Variables</th>
		<th>Punctuation</th>
	</tr>
	<tr>
		<td id="liveingthings", class="peice">liveingthings</td>
		<td id="new", class="peice">new</td>
		<td id="/", class="peice">/</td>
	</tr>
	<tr>
		<td id="reasons", class="peice">reasons</td>
		<td id="edit", class="peice">edit</td>
		<td id=".", class="peice">.</td>
	</tr>
	<tr>
		<td id="outcomes", class="peice">outcomes</td>
		<td id="delete", class="peice">delete</td>
		<td id="html", class="peice">html</td>
	</tr>
	<tr>
		<td id="struggles", class="peice">struggles</td>
		<td id=":id", class="peice">:id</td>
		<td id="#", class="peice">#</td>
	</tr>
	</tbody>
	</table>
</div>