<p>Because of the views we have?</p>
<% 3.times do |x| %>
	<div id="e<%= x %>", class="land", tracker="#">ElementOne</div>
<% end %>
<div id="float">
	<p>Drag Me</p>
	<div id="form", class="peice", id="form">Form</div>
	<div id="index", class="peice", id= "index">Index</div>
	<div id="show", class="peice", id="show">Show</div>
	<div id="menu", class="peice", id="menu">Menu</div>
	<div id="title", class="peice", id="title">Title</div>
</div>
<br><br>
<div id="done3", class="push" ><p>Click When Done</p></div>
<div id="endDisplay"><%= render "step3s/new" %></div>